
 body{background-color: #bbbbbb;}
.bead {
  height: 2em;
  width: 2em;
  border-radius: 50%;
 border: 2px solid black;
  display: inline-block;
 font-size:1em;
}
.dot {
  height: 50%;
  width: 50%;
  border-radius: 50%;
 border: 1px dotted #000;
  display: inline-block;
 margin:auto;
 font-size:1em;
}
.YHWH {background-color: #fff;}
div{float:left; border:2px solid black; border-radius:50%;padding:1em;margin:.5em;}
 .red{background-color: red;}
 .green{background-color: #0f0;}
 
 .blue{background-color: #0ff;}
 
 .white{background-color: #fff;}

 .yellow{background-color: #ff0;}
 
 .orange{background-color: #f80;}
 
 .indigo{background-color: #00f;}
 
 .violet {background-color: #7f00ff;}
.orange-red {background-image: linear-gradient(90deg, #f80 50%, #f00 50%);
background-size: 25px 25px;} 
 .green-violet {background-image: linear-gradient(90deg, #0f0 50%, #7f00ff 50%);
background-size: 25px 25px;} 
.yellow-blue {background-image: linear-gradient(90deg, #ff0 50%, #0ff 50%);
background-size: 25px 25px;}
.yellow-indigo {background-image: linear-gradient(90deg, #ff0 50%, #00f 50%);
background-size: 25px 25px;}
.green-yellow {background-image: linear-gradient(90deg, #0f0 50%, #ff0 50%);
background-size: 25px 25px;}
.blue-indigo {background-image: linear-gradient(90deg, #0ff 50%, #00f 50%);
background-size: 25px 25px;}
