body{background-color: #bbbbbb;}
header{font-size:1.5em;}
.writewhite{color:#fff;}
.writered{color:#f00;}
.writegreen{color:#0f0;}
.writeblue{color:#0ff;}
.writeyellow{color:#ff0;}
.writeorange{color:#f80;}
.writeindigo{color:#00f;}
.writeviolet{color:#7f00ff;}
.bead {
  height: 2em;
  width: 2em;
  border-radius: 50%;
 border: 2px solid black;
  display: inline-block;
 font-size:1em;
 text-align: center;
margin:.2em;}
.dot { font-size:1em;
  height: 30%;
  width: 30%;
  border-radius: 50%;
 border: 2px solid #000;
display: inline-block; 
}
.arrow-down{
  width: 0;
  height: 0;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
  border-top:1em solid #f00;}

.arrow-up{
  width: 0;
  height: 0;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
  border-bottom:1em solid #f00;}

.arrow-left{
  width: 0;
  height: 0;
  border-bottom:.4em solid transparent;
  border-top:.4em solid transparent;
  border-right:.4em solid #f00;}
.arrow-right{
  width: 0;
  height: 0;
  border-bottom:1em solid transparent;
  border-top:1em solid transparent;
  border-left:1em solid #f00;}

.YHWH {background-color: #fff;}
.heart {background-color: #f00;}
.letter{color:#000;font-size:1.5em;}
div{border:2px dotted black; border-radius:50%;padding:1em;height:3em;width:31em;margin:auto;}
 .red{background-color: red;}
 .green{background-color: #0f0;}
 
 .blue{background-color: #0ff;}
 
 .white{background-color: #fff;}
.small {height:1em;width:1em;}
 .yellow{background-color: #ff0;}
 
 .orange{background-color: #f80;}
 
 .indigo{background-color: #00f;}
 
 .violet {background-color: #7f00ff;}
.orange-red {background-image: linear-gradient(to right, #f80, #f00);
background-size: 25px 25px;} 
 .green-violet {background-image: linear-gradient(to right, #0f0, #7f00ff);
background-size: 25px 25px;} 
.yellow-blue {background-image: linear-gradient(to right, #ff0, #0ff);
background-size: 25px 25px;}
.yellow-indigo {background-image: linear-gradient(to right, #ff0, #00f);
background-size: 25px 25px;}
.green-yellow {background-image: linear-gradient(to right, #0f0, #ff0);
background-size: 25px 25px;}
.blue-indigo {background-image: linear-gradient(to right, #0ff, #00f); background-size: 25px 25px;}
#rainbow {
  height: 55px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
#A1,#A3,#B10{border: 2px dashed #000;}
#A2{border: 2px inset #000;}
#A4,#A5,#A8,#B9{border: 2px double #000;}

#A6,#A7{border: 2px dotted #000;}
