body{background-color: #bbbbbb;}
header{font-size:1.5em;}
.writewhite{color:#fff;}
.writered{color:#f00;}
.writegreen{color:#0f0;}
.writeblue{color:#0ff;}
.writeyellow{color:#ff0;}
.writeorange{color:#f80;}
.writeindigo{color:#00f;}
.writeviolet{color:#7f00ff;}
.bead {
  height: 2em;
  width: 2em;
  border-radius: 50%;
 border: 2px solid black;
  display: inline-block;
 font-size:1em;
 text-align: center;
margin:.5em;}
.dot {
  height: 50%;
  width: 50%;
  border-radius: 50%;
 border: 2px solid #000;
display: inline-block;
}
.YHWH {background-color: #fff;}
.heart {background-color: #f00;}

div{float:left; border:2px solid black; border-radius:50%;padding:1em;margin:1em;}
 .red{background-color: red;}
 .green{background-color: #0f0;}
.heart {
  background-color: #fff;
  // Square with size 50px
  width: 50px;
  height: 50px;
  position: relative;
  // Rotate 45deg to make it looks like diamond
  transform: rotate(45deg);
}
.heart {
  &::before,
  &::after {
    position: absolute;
    content: '';
    // Pseudo elements of same size as container
    width: 50px;
    height: 50px;
    background-color: #fff;
    // It will make the pseudo element as circle
    border-radius: 50%;
  }

  &::before {
    // Only reveal half the circle to look like left side top of heart
    left: -25px;
  }

  &::after {
    // Only reveal half the circle to look like right side top of heart
    top: -25px;
  }
}
 
 .blue{background-color: #0ff;}
 
 .white{background-color: #fff;}
.small {height:1em;width:1em;}
 .yellow{background-color: #ff0;}
 
 .orange{background-color: #f80;}
 
 .indigo{background-color: #00f;}
 
 .violet {background-color: #7f00ff;}
.orange-red {background-image: linear-gradient(to right, #f80, #f00);
background-size: 25px 25px;} 
 .green-violet {background-image: linear-gradient(to right, #0f0, #7f00ff);
background-size: 25px 25px;} 
.yellow-blue {background-image: linear-gradient(to right, #ff0, #0ff);
background-size: 25px 25px;}
.yellow-indigo {background-image: linear-gradient(to right, #ff0, #00f);
background-size: 25px 25px;}
.green-yellow {background-image: linear-gradient(to right, #0f0, #ff0);
background-size: 25px 25px;}
.blue-indigo {background-image: linear-gradient(to right, #0ff, #00f);
background-size: 25px 25px;}
#rainbow {
  height: 55px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
